In [71]:
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

In [72]:
def ratings (team):

    # Import the tables that were extracted from the scraping function notebook.

    aa = pd.read_csv("../tables/fbref.com/17-18.csv", index_col=[0]).reset_index().drop("index", axis=1)
    bb = pd.read_csv("../tables/fbref.com/18-19.csv", index_col=[0]).reset_index().drop("index", axis=1)
    cc = pd.read_csv("../tables/fbref.com/19-20.csv", index_col=[0]).reset_index().drop("index", axis=1)
    dd = pd.read_csv("../tables/fbref.com/20-21.csv", index_col=[0]).reset_index().drop("index", axis=1)
    ee = pd.read_csv("../tables/fbref.com/21-22.csv", index_col=[0]).reset_index().drop("index", axis=1)
    ff = pd.read_csv("../tables/fbref.com/22-23.csv", index_col=[0]).reset_index().drop("index", axis=1)
    gg = pd.read_csv("../tables/fbref.com/23-24.csv", index_col=[0]).reset_index().drop("index", axis=1)

    data = pd.concat([aa, bb, cc, dd, ee, ff, gg])

    new_row_data = {'team': 'Getafe', 'matchday': 16, 'date': '2023-12-08', "location":"Home", "opponent":"Valencia"}
    new_row_df = pd.DataFrame(new_row_data, index=[0])
    data = pd.concat([data, new_row_df], ignore_index=True)

    new_row_data = {'team': 'Valencia', 'matchday': 16, 'date': '2023-12-08', "location":"Away", "opponent":"Getafe"}
    new_row_df = pd.DataFrame(new_row_data, index=[0])
    data = pd.concat([data, new_row_df], ignore_index=True)

    new_row_data = {'team': 'Alavés', 'matchday': 16, 'date': '2023-12-09', "location":"Home", "opponent":"Las Palmas"}
    new_row_df = pd.DataFrame(new_row_data, index=[0])
    data = pd.concat([data, new_row_df], ignore_index=True)

    new_row_data = {'team': 'Las Palmas', 'matchday': 16, 'date': '2023-12-09', "location":"Away", "opponent":"Alavés"}
    new_row_df = pd.DataFrame(new_row_data, index=[0])
    data = pd.concat([data, new_row_df], ignore_index=True)

    new_row_data = {'team': 'Real Betis', 'matchday': 16, 'date': '2023-12-09', "location":"Home", "opponent":"Real Madrid"}
    new_row_df = pd.DataFrame(new_row_data, index=[0])
    data = pd.concat([data, new_row_df], ignore_index=True)

    new_row_data = {'team': 'Real Madrid', 'matchday': 16, 'date': '2023-12-09', "location":"Away", "opponent":"Real Betis"}
    new_row_df = pd.DataFrame(new_row_data, index=[0])
    data = pd.concat([data, new_row_df], ignore_index=True)

    new_row_data = {'team': 'Villarreal', 'matchday': 16, 'date': '2023-12-09', "location":"Home", "opponent":"Real Sociedad"}
    new_row_df = pd.DataFrame(new_row_data, index=[0])
    data = pd.concat([data, new_row_df], ignore_index=True)

    new_row_data = {'team': 'Real Sociedad', 'matchday': 16, 'date': '2023-12-09', "location":"Away", "opponent":"Villarreal"}
    new_row_df = pd.DataFrame(new_row_data, index=[0])
    data = pd.concat([data, new_row_df], ignore_index=True)

    new_row_data = {'team': 'Mallorca', 'matchday': 16, 'date': '2023-12-09', "location":"Home", "opponent":"Sevilla"}
    new_row_df = pd.DataFrame(new_row_data, index=[0])
    data = pd.concat([data, new_row_df], ignore_index=True)

    new_row_data = {'team': 'Sevilla', 'matchday': 16, 'date': '2023-12-09', "location":"Away", "opponent":"Mallorca"}
    new_row_df = pd.DataFrame(new_row_data, index=[0])
    data = pd.concat([data, new_row_df], ignore_index=True)

    new_row_data = {'team': 'Atlético Madrid', 'matchday': 16, 'date': '2023-12-10', "location":"Home", "opponent":"Almería"}
    new_row_df = pd.DataFrame(new_row_data, index=[0])
    data = pd.concat([data, new_row_df], ignore_index=True)

    new_row_data = {'team': 'Almería', 'matchday': 16, 'date': '2023-12-10', "location":"Away", "opponent":"Atlético Madrid"}
    new_row_df = pd.DataFrame(new_row_data, index=[0])
    data = pd.concat([data, new_row_df], ignore_index=True)

    new_row_data = {'team': 'Granada', 'matchday': 16, 'date': '2023-12-10', "location":"Home", "opponent":"Athletic Club"}
    new_row_df = pd.DataFrame(new_row_data, index=[0])
    data = pd.concat([data, new_row_df], ignore_index=True)

    new_row_data = {'team': 'Athletic Club', 'matchday': 16, 'date': '2023-12-10', "location":"Away", "opponent":"Granada"}
    new_row_df = pd.DataFrame(new_row_data, index=[0])
    data = pd.concat([data, new_row_df], ignore_index=True)

    new_row_data = {'team': 'Cádiz', 'matchday': 16, 'date': '2023-12-10', "location":"Home", "opponent":"Osasuna"}
    new_row_df = pd.DataFrame(new_row_data, index=[0])
    data = pd.concat([data, new_row_df], ignore_index=True)

    new_row_data = {'team': 'Osasuna', 'matchday': 16, 'date': '2023-12-10', "location":"Away", "opponent":"Cádiz"}
    new_row_df = pd.DataFrame(new_row_data, index=[0])
    data = pd.concat([data, new_row_df], ignore_index=True)

    new_row_data = {'team': 'Barcelona', 'matchday': 16, 'date': '2023-12-10', "location":"Home", "opponent":"Girona"}
    new_row_df = pd.DataFrame(new_row_data, index=[0])
    data = pd.concat([data, new_row_df], ignore_index=True)

    new_row_data = {'team': 'Girona', 'matchday': 16, 'date': '2023-12-10', "location":"Away", "opponent":"Barcelona"}
    new_row_df = pd.DataFrame(new_row_data, index=[0])
    data = pd.concat([data, new_row_df], ignore_index=True)

    new_row_data = {'team': 'Rayo Vallecano', 'matchday': 16, 'date': '2023-12-11', "location":"Home", "opponent":"Celta Vigo"}
    new_row_df = pd.DataFrame(new_row_data, index=[0])
    data = pd.concat([data, new_row_df], ignore_index=True)

    new_row_data = {'team': 'Celta Vigo', 'matchday': 16, 'date': '2023-12-11', "location":"Away", "opponent":"Rayo Vallecano"}
    new_row_df = pd.DataFrame(new_row_data, index=[0])
    data = pd.concat([data, new_row_df], ignore_index=True)

    # Divide the concatenation by teams, to be able to calculate the averages, per team, of each match statistic brought from the scraping. 
    # This is done because we want to know a team's form coming into a match, that is, whether they have been playing good or bad lately.

    a = data[data["team"]==team]
    a['goals_offense'] = round((((a['score'].shift(1).rolling(window=10, min_periods=1).mean()*0.5) + (a['score'].shift(1).rolling(window=5, min_periods=1).mean()*0.4) + (a['score'].shift(1).rolling(window=3, min_periods=1).mean()*0.1))*0.7) + (((a['xG'].shift(1).rolling(window=10, min_periods=1).mean()*0.6) + (a['xG'].shift(1).rolling(window=5, min_periods=1).mean()*0.3) + (a['xG'].shift(1).rolling(window=3, min_periods=1).mean()*0.1))*0.3), 1)
    a['goals_defense'] = round((((a['score_against'].shift(1).rolling(window=10, min_periods=1).mean()*0.5) + (a['score_against'].shift(1).rolling(window=5, min_periods=1).mean()*0.4) + (a['score_against'].shift(1).rolling(window=3, min_periods=1).mean()*0.1))*0.7) + (((a['xg_against'].shift(1).rolling(window=10, min_periods=1).mean()*0.6) + (a['xg_against'].shift(1).rolling(window=5, min_periods=1).mean()*0.3) + (a['xg_against'].shift(1).rolling(window=3, min_periods=1).mean()*0.1))*0.3), 1)

    a["PSxG_2"] = round(((a['PSxG'].shift(1).rolling(window=100, min_periods=1).mean()*0.6) + (a['PSxG'].shift(1).rolling(window=50, min_periods=1).mean()*0.3) + (a['PSxG'].shift(1).rolling(window=30, min_periods=1).mean()*0.1)), 2)

    new = a[["date", "time", "team", "goals_offense", "goals_defense"]]

    b = data[data.columns[8:]]
    c = data[data.columns[:8]]

    for i in b.columns:
        b[i] = round(b[i] / ((b[i].shift(1).rolling(window=100, min_periods=1).quantile(0.9)*0.6) + (b[i].shift(1).rolling(window=50, min_periods=1).quantile(0.9)*0.3) + (b[i].shift(1).rolling(window=30, min_periods=1).quantile(0.9)*0.1)), 2)

    all = pd.concat([c, b], axis=1)
    all = all.fillna(0)

    all['yellows'] = all['yellows'].apply(lambda x: (1 - x) if pd.notnull(x) else x).apply(lambda x: max(0, x))
    all['reds'] = all['reds'].apply(lambda x: (1 - x) if pd.notnull(x) else x).apply(lambda x: max(0, x))
    all['failed_controls'] = all['failed_controls'].apply(lambda x: (1 - x) if pd.notnull(x) else x).apply(lambda x: max(0, x))
    all['dispossession_after_tackle'] = all['dispossession_after_tackle'].apply(lambda x: (1 - x) if pd.notnull(x) else x).apply(lambda x: max(0, x))
    all['double_yellows'] = all['double_yellows'].apply(lambda x: (1 - x) if pd.notnull(x) else x).apply(lambda x: max(0, x))
    all['fouls'] = all['fouls'].apply(lambda x: (1 - x) if pd.notnull(x) else x).apply(lambda x: max(0, x))
    all['unsuccessful_dribbler_challenge'] = all['unsuccessful_dribbler_challenge'].apply(lambda x: (1 - x) if pd.notnull(x) else x).apply(lambda x: max(0, x))
    all['error_leading_to_opponent_shot'] = all['error_leading_to_opponent_shot'].apply(lambda x: (1 - x) if pd.notnull(x) else x).apply(lambda x: max(0, x))
    all['player_take_ons_tackled'] = all['player_take_ons_tackled'].apply(lambda x: (1 - x) if pd.notnull(x) else x).apply(lambda x: max(0, x))
    all['penalty_kicks_conceded'] = all['penalty_kicks_conceded'].apply(lambda x: (1 - x) if pd.notnull(x) else x).apply(lambda x: max(0, x))
    all['own_goals'] = all['own_goals'].apply(lambda x: (1 - x) if pd.notnull(x) else x).apply(lambda x: max(0, x))
    all['aerials_lost'] = all['aerials_lost'].apply(lambda x: (1 - x) if pd.notnull(x) else x).apply(lambda x: max(0, x))

    all["offense"] = all[["assists", "shots", "shots_on_target", "PSxG", "non_penalty_expected_goals", "expected_assisted_goals", "shot_creating_actions", "goal_creating_actions", "progressive_passes", "progressive_carries", "progressive_passing_distance", "expected_assists", "key_passes", "passes_into_final_third", "passes_into_penalty_area", "crosses_into_penalty_area", "through_balls", "crosses", "corner_kicks", "passes_offside", "touches_in_attacking_penalty_area", "carries_into_penalty_box", "offsides", "penalty_kicks_won"]].mean(axis=1).round(2)
    all["in_game"] = all[["yellows", "reds", "touches", "passes_completed", "carries", "failed_controls", "dispossession_after_tackle", "double_yellows", "fouls"]].mean(axis=1).round(2)
    all["defense"] = all[["tackles", "interceptions", "blocks_by_player", "tackles_won", "dribbler_tackles_attempts", "dribblers_tackled", "unsuccessful_dribbler_challenge", "clearances", "error_leading_to_opponent_shot", "player_take_ons_tackled", "recoveries", "aerials_won", "aerials_lost"]].mean(axis=1).round(2)

    all = all[["team", "score", "score_against", "xG", "xg_against", "offense", "in_game", "defense"]]

    all = all[all["team"]==team]

    all["offense"] = round(((all['offense'].shift(1).rolling(window=100, min_periods=1).mean()*0.5) + (all['offense'].shift(1).rolling(window=50, min_periods=1).mean()*0.3) + (all['offense'].shift(1).rolling(window=30, min_periods=1).mean()*0.2))*(1 + (all["score"].shift(1) * 0.05) + (all["xG"].shift(1) * 0.05)), 2)
    all["in_game"] = round(((all['in_game'].shift(1).rolling(window=100, min_periods=1).mean()*0.5) + (all['in_game'].shift(1).rolling(window=50, min_periods=1).mean()*0.3) + (all['in_game'].shift(1).rolling(window=30, min_periods=1).mean()*0.2)), 2)
    all["defense"] = round(((all['defense'].shift(1).rolling(window=100, min_periods=1).mean()*0.5) + (all['defense'].shift(1).rolling(window=50, min_periods=1).mean()*0.3) + (all['defense'].shift(1).rolling(window=30, min_periods=1).mean()*0.2))*(1 - (all["score_against"].shift(1) * 0.05) - (all["xg_against"].shift(1) * 0.05)), 2)

    all.drop(["team", "xG", "xg_against"], axis=1, inplace=True)
    
    complete = pd.concat([new, all], axis=1)
    return complete

In [73]:
aa = pd.read_csv("../tables/fbref.com/17-18.csv", index_col=[0]).reset_index().drop("index", axis=1)
bb = pd.read_csv("../tables/fbref.com/18-19.csv", index_col=[0]).reset_index().drop("index", axis=1)
cc = pd.read_csv("../tables/fbref.com/19-20.csv", index_col=[0]).reset_index().drop("index", axis=1)
dd = pd.read_csv("../tables/fbref.com/20-21.csv", index_col=[0]).reset_index().drop("index", axis=1)
ee = pd.read_csv("../tables/fbref.com/21-22.csv", index_col=[0]).reset_index().drop("index", axis=1)
ff = pd.read_csv("../tables/fbref.com/22-23.csv", index_col=[0]).reset_index().drop("index", axis=1)
gg = pd.read_csv("../tables/fbref.com/23-24.csv", index_col=[0]).reset_index().drop("index", axis=1)

data = pd.concat([aa, bb, cc, dd, ee, ff, gg])

teams = data["team"].unique()

concatenate = []

for i in teams:
    if len(concatenate) == 0:
        concatenate = ratings(i)
    else:
        concatenate = pd.concat([concatenate, ratings(i)])

In [74]:
import numpy as np

concatenate = concatenate.sort_index()

In [75]:
concatenate = concatenate
concatenate = concatenate.sort_values(by=["date", "time"]).reset_index().drop(["index"], axis=1)
concatenate.groupby("team")["offense"].mean().sort_values(ascending=False)

team
Almería                1.008269
Barcelona              0.810289
Real Madrid            0.747975
Real Betis             0.726942
Athletic Club          0.670992
Girona                 0.661172
Levante                0.647566
Celta Vigo             0.645000
Atlético Madrid        0.640996
Málaga                 0.636486
Eibar                  0.634371
Las Palmas             0.629804
Alavés                 0.629704
Espanyol               0.623228
Real Sociedad          0.619298
Deportivo La Coruña    0.608649
Huesca                 0.600667
Rayo Vallecano         0.595000
Osasuna                0.594639
Sevilla                0.582199
Cádiz                  0.580547
Getafe                 0.579504
Villarreal             0.579256
Granada                0.576406
Mallorca               0.573359
Valencia               0.573140
Elche                  0.553009
Leganés                0.514159
Valladolid             0.503510
Name: offense, dtype: float64

In [76]:
concatenate.drop(["score_against"], axis=1, inplace=True)
concatenate = concatenate.reset_index().drop(["index"], axis=1)
even_rows = concatenate.iloc[::2]  # Selecting even index rows
odd_rows = concatenate.iloc[1::2]  # Selecting odd index rows

# Duplicate and modify the index for odd rows
odd_rows.index = even_rows.index

# Concatenate odd rows to the bottom of even rows
result_df = pd.concat([even_rows.rename(columns=lambda x: f'home_{x}'), odd_rows.rename(columns=lambda x: f'away_{x}')], axis=1)

result_df.drop(["away_date", "away_time"], axis=1, inplace=True)
result_df.rename(columns={'home_date': 'date', 'home_time': 'time'}, inplace=True)
result_df['result'] = np.where(result_df['home_score'] > result_df['away_score'], 1, np.where(result_df['home_score'] == result_df['away_score'], 0.5, 0))

result_df.sort_values(by=["date", "time"], inplace=True)

In [77]:
result_df = result_df.reset_index().drop(["index"], axis=1)
result_df.drop(["home_score", "away_score"], axis=1, inplace=True)
result_df['date'] = pd.to_datetime(result_df['date'])

In [78]:
season = pd.read_csv("../coding-csv/standings.csv")

In [79]:
result_df.drop(["time"], axis=1, inplace=True)
result_df["date"] = result_df["date"].dt.date

In [80]:
footballdatacleaned = pd.read_csv("../coding-csv/football-data-data-cleaned-for-use.csv", index_col=[0])
footballdatacleaned

,date,home_team,home_goals_offense,home_goals_defense,home_offense,home_in_game,home_defense,away_team,away_goals_offense,away_goals_defense,away_offense,away_in_game,away_defense,result
0,2010-08-28,Hercules,0.00,1.0,1.00,0.00,0.00,Ath Bilbao,1.00,0.0,0.77,0.33,0.37,0.0
1,2010-08-28,Levante,1.00,4.0,0.63,0.33,0.00,Sevilla,4.00,1.0,0.82,0.33,0.47,0.0
2,2010-08-28,Malaga,1.00,3.0,0.85,0.59,0.00,Valencia,3.00,1.0,1.07,0.43,0.22,0.0
3,2010-08-29,Espanol,3.00,1.0,0.93,0.52,0.61,Getafe,1.00,3.0,0.40,0.57,0.08,1.0
4,2010-08-29,La Coruna,0.00,0.0,0.35,0.75,0.61,Zaragoza,0.00,0.0,0.46,0.63,0.68,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2655,2017-05-21,Ath Madrid,1.85,0.5,0.61,0.61,0.56,Ath Bilbao,1.57,1.2,0.59,0.60,0.53,1.0
2656,2017-05-21,Barcelona,3.82,1.2,0.81,0.69,0.55,Eibar,1.03,1.3,0.54,0.56,0.45,1.0
2657,2017-05-21,Celta,0.97,2.6,0.50,0.53,0.42,Sociedad,1.79,1.5,0.57,0.58,0.47,0.5
2658,2017-05-21,Malaga,1.79,1.1,0.56,0.54,0.49,Real Madrid,3.21,1.0,0.80,0.66,0.51,0.0
2659,2017-05-21,Valencia,1.82,1.5,0.52,0.51,0.41,Villarreal,1.63,1.3,0.53,0.59,0.45,0.0

In [81]:
result_df
# result_df = pd.concat([footballdatacleaned, result_df])

,date,home_team,home_goals_offense,home_goals_defense,home_offense,home_in_game,home_defense,away_team,away_goals_offense,away_goals_defense,away_offense,away_in_game,away_defense,result
0,2017-08-18,Leganés,NaN,NaN,NaN,NaN,NaN,Alavés,NaN,NaN,NaN,NaN,NaN,1.0
1,2017-08-18,Valencia,NaN,NaN,NaN,NaN,NaN,Las Palmas,NaN,NaN,NaN,NaN,NaN,1.0
2,2017-08-19,Celta Vigo,NaN,NaN,NaN,NaN,NaN,Real Sociedad,NaN,NaN,NaN,NaN,NaN,0.0
3,2017-08-19,Girona,NaN,NaN,NaN,NaN,NaN,Atlético Madrid,NaN,NaN,NaN,NaN,NaN,0.5
4,2017-08-19,Sevilla,NaN,NaN,NaN,NaN,NaN,Espanyol,NaN,NaN,NaN,NaN,NaN,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2424,2023-12-10,Atlético Madrid,1.9,0.9,0.76,0.66,0.59,Almería,1.1,2.4,0.97,0.64,0.53,0.5
2425,2023-12-10,Granada,1.2,1.9,0.70,0.58,0.52,Athletic Club,2.0,1.6,0.69,0.60,0.57,0.5
2426,2023-12-10,Cádiz,0.7,1.7,0.58,0.56,0.58,Osasuna,1.3,1.8,0.58,0.60,0.50,0.5
2427,2023-12-10,Barcelona,1.4,0.9,0.68,0.64,0.55,Girona,2.2,1.4,0.68,0.62,0.55,0.5
2428,2023-12-11,Rayo Vallecano,1.3,1.3,0.60,0.56,0.59,Celta Vigo,1.2,1.7,0.58,0.62,0.62,0.5

In [82]:
def home_rank(row):
    target_date = row['date']
    target_value = row['home_team']

    # Filter DataFrame 1 where 'Value' equals the target value and the date is strictly less than the target date
    filtered_df = season[(season['team'] == target_value) & (pd.to_datetime(season['date']) < pd.to_datetime(target_date))]

    if not filtered_df.empty:
        # Find the index of the maximum date within the filtered DataFrame
        closest_date_index = filtered_df['date'].idxmax()

        # Get the value in the "Rank" column for the row with the closest date and 'Value' equals the target value
        result_rank = season.loc[closest_date_index, 'rank']
        return result_rank
    else:
        # Set a default value (e.g., None or -1) when there is no date strictly less than the target date
        return 0

# Apply the function to DataFrame 2 and create a new column 'Closest_Rank'
result_df['home_standing'] = result_df.apply(home_rank, axis=1)

def away_rank(row):
    target_date = row['date']
    target_value = row['away_team']

    # Filter DataFrame 1 where 'Value' equals the target value and the date is strictly less than the target date
    filtered_df = season[(season['team'] == target_value) & (pd.to_datetime(season['date']) < pd.to_datetime(target_date))]

    if not filtered_df.empty:
        # Find the index of the maximum date within the filtered DataFrame
        closest_date_index = filtered_df['date'].idxmax()

        # Get the value in the "Rank" column for the row with the closest date and 'Value' equals the target value
        result_rank = season.loc[closest_date_index, 'rank']
        return result_rank
    else:
        # Set a default value (e.g., None or -1) when there is no date strictly less than the target date
        return 0

# Apply the function to DataFrame 2 and create a new column 'Closest_Rank'
result_df['away_standing'] = result_df.apply(away_rank, axis=1)

In [83]:
result_df.reset_index(drop=True, inplace=True)

In [84]:
result_df.sample()

,date,home_team,home_goals_offense,home_goals_defense,home_offense,home_in_game,home_defense,away_team,away_goals_offense,away_goals_defense,away_offense,away_in_game,away_defense,result,home_standing,away_standing
908,2019-12-01,Atlético Madrid,1.3,0.6,0.6,0.63,0.59,Barcelona,2.4,1.1,0.74,0.66,0.57,0.0,4,1

In [85]:
result_df[["home_team",  "result"]]

            home_team  result
0             Leganés     1.0
1            Valencia     1.0
2          Celta Vigo     0.0
3              Girona     0.5
4             Sevilla     0.5
...               ...     ...
2424  Atlético Madrid     0.5
2425          Granada     0.5
2426            Cádiz     0.5
2427        Barcelona     0.5
2428   Rayo Vallecano     0.5

[2429 rows x 2 columns]

In [86]:
def home_win_streak (row):
    target_date = row['date']
    target_value = row['home_team']

    # Filter DataFrame 1 where 'Value' equals the target value and the date is strictly less than the target date
    filtered_df = season[(season['team'] == target_value) & (pd.to_datetime(season['date']) < pd.to_datetime(target_date))]

    if not filtered_df.empty:
        # Find the index of the maximum date within the filtered DataFrame
        closest_date_index = filtered_df['date'].idxmax()

        # Get the value in the "Rank" column for the row with the closest date and 'Value' equals the target value
        result_rank = season.loc[closest_date_index, 'win_streak']
        return result_rank
    else:
        # Set a default value (e.g., None or -1) when there is no date strictly less than the target date
        return 0

result_df['home_win_streak'] = result_df.apply(home_win_streak, axis=1)

def home_lose_streak (row):
    target_date = row['date']
    target_value = row['home_team']

    # Filter DataFrame 1 where 'Value' equals the target value and the date is strictly less than the target date
    filtered_df = season[(season['team'] == target_value) & (pd.to_datetime(season['date']) < pd.to_datetime(target_date))]

    if not filtered_df.empty:
        # Find the index of the maximum date within the filtered DataFrame
        closest_date_index = filtered_df['date'].idxmax()

        # Get the value in the "Rank" column for the row with the closest date and 'Value' equals the target value
        result_rank = season.loc[closest_date_index, 'lose_streak']
        return result_rank
    else:
        # Set a default value (e.g., None or -1) when there is no date strictly less than the target date
        return 0

result_df['home_lose_streak'] = result_df.apply(home_lose_streak, axis=1)

def away_win_streak (row):
    target_date = row['date']
    target_value = row['away_team']

    # Filter DataFrame 1 where 'Value' equals the target value and the date is strictly less than the target date
    filtered_df = season[(season['team'] == target_value) & (pd.to_datetime(season['date']) < pd.to_datetime(target_date))]

    if not filtered_df.empty:
        # Find the index of the maximum date within the filtered DataFrame
        closest_date_index = filtered_df['date'].idxmax()

        # Get the value in the "Rank" column for the row with the closest date and 'Value' equals the target value
        result_rank = season.loc[closest_date_index, 'win_streak']
        return result_rank
    else:
        # Set a default value (e.g., None or -1) when there is no date strictly less than the target date
        return 0

result_df['away_win_streak'] = result_df.apply(away_win_streak, axis=1)

def away_lose_streak (row):
    target_date = row['date']
    target_value = row['away_team']

    # Filter DataFrame 1 where 'Value' equals the target value and the date is strictly less than the target date
    filtered_df = season[(season['team'] == target_value) & (pd.to_datetime(season['date']) < pd.to_datetime(target_date))]

    if not filtered_df.empty:
        # Find the index of the maximum date within the filtered DataFrame
        closest_date_index = filtered_df['date'].idxmax()

        # Get the value in the "Rank" column for the row with the closest date and 'Value' equals the target value
        result_rank = season.loc[closest_date_index, 'lose_streak']
        return result_rank
    else:
        # Set a default value (e.g., None or -1) when there is no date strictly less than the target date
        return 0

result_df['away_lose_streak'] = result_df.apply(away_lose_streak, axis=1)

def home_draw_streak (row):
    target_date = row['date']
    target_value = row['home_team']

    # Filter DataFrame 1 where 'Value' equals the target value and the date is strictly less than the target date
    filtered_df = season[(season['team'] == target_value) & (pd.to_datetime(season['date']) < pd.to_datetime(target_date))]

    if not filtered_df.empty:
        # Find the index of the maximum date within the filtered DataFrame
        closest_date_index = filtered_df['date'].idxmax()

        # Get the value in the "Rank" column for the row with the closest date and 'Value' equals the target value
        result_rank = season.loc[closest_date_index, 'draw_streak']
        return result_rank
    else:
        # Set a default value (e.g., None or -1) when there is no date strictly less than the target date
        return 0

result_df['home_draw_streak'] = result_df.apply(home_draw_streak, axis=1)

def away_draw_streak (row):
    target_date = row['date']
    target_value = row['away_team']

    # Filter DataFrame 1 where 'Value' equals the target value and the date is strictly less than the target date
    filtered_df = season[(season['team'] == target_value) & (pd.to_datetime(season['date']) < pd.to_datetime(target_date))]

    if not filtered_df.empty:
        # Find the index of the maximum date within the filtered DataFrame
        closest_date_index = filtered_df['date'].idxmax()

        # Get the value in the "Rank" column for the row with the closest date and 'Value' equals the target value
        result_rank = season.loc[closest_date_index, 'draw_streak']
        return result_rank
    else:
        # Set a default value (e.g., None or -1) when there is no date strictly less than the target date
        return 0

result_df['away_draw_streak'] = result_df.apply(away_draw_streak, axis=1)

In [87]:
result_df[result_df.isna().any(axis=1)]

,date,home_team,home_goals_offense,home_goals_defense,home_offense,home_in_game,home_defense,away_team,away_goals_offense,away_goals_defense,...,away_defense,result,home_standing,away_standing,home_win_streak,home_lose_streak,away_win_streak,away_lose_streak,home_draw_streak,away_draw_streak
0,2017-08-18,Leganés,NaN,NaN,NaN,NaN,NaN,Alavés,NaN,NaN,...,NaN,1.0,0,0,0,0,0,0,0,0
1,2017-08-18,Valencia,NaN,NaN,NaN,NaN,NaN,Las Palmas,NaN,NaN,...,NaN,1.0,11,14,0,1,0,5,0,0
2,2017-08-19,Celta Vigo,NaN,NaN,NaN,NaN,NaN,Real Sociedad,NaN,NaN,...,NaN,0.0,0,0,0,0,0,0,0,0
3,2017-08-19,Girona,NaN,NaN,NaN,NaN,NaN,Atlético Madrid,NaN,NaN,...,NaN,0.5,0,0,0,0,0,0,0,0
4,2017-08-19,Sevilla,NaN,NaN,NaN,NaN,NaN,Espanyol,NaN,NaN,...,NaN,0.5,4,0,1,0,0,0,0,0
5,2017-08-20,Athletic Club,NaN,NaN,NaN,NaN,NaN,Getafe,NaN,NaN,...,NaN,0.5,0,19,0,0,0,1,0,0
6,2017-08-20,Barcelona,NaN,NaN,NaN,NaN,NaN,Real Betis,NaN,NaN,...,NaN,1.0,2,0,7,0,0,0,0,0
7,2017-08-20,Deportivo La Coruña,NaN,NaN,NaN,NaN,NaN,Real Madrid,NaN,NaN,...,NaN,0.0,0,1,0,0,6,0,0,0
8,2017-08-21,Levante,NaN,NaN,NaN,NaN,NaN,Villarreal,NaN,NaN,...,NaN,1.0,20,5,0,1,1,0,0,0
9,2017-08-21,Málaga,NaN,NaN,NaN,NaN,NaN,Eibar,NaN,NaN,...,NaN,0.0,0,10,0,0,0,3,0,0
12,2017-08-26,Alavés,0.4,1.1,NaN,0.71,0.83,Barcelona,1.7,0.0,...,0.46,0.0,14,1,0,1,8,0,0,0
15,2017-08-26,Las Palmas,0.4,1.1,NaN,0.62,0.63,Atlético Madrid,1.9,2.1,...,0.47,0.0,14,8,0,6,0,0,0,1
380,2018-08-17,Girona,1.1,1.9,0.63,0.60,0.57,Valladolid,NaN,NaN,...,NaN,0.5,9,0,1,0,0,0,0,0
385,2018-08-19,Eibar,1.1,0.9,0.63,0.60,0.54,Huesca,NaN,NaN,...,NaN,0.0,9,0,0,0,0,0,1,0
386,2018-08-19,Rayo Vallecano,NaN,NaN,NaN,NaN,NaN,Sevilla,1.5,1.5,...,0.63,0.0,0,7,0,0,1,0,0,0
763,2019-08-17,Mallorca,NaN,NaN,NaN,NaN,NaN,Eibar,1.0,1.1,...,0.55,1.0,0,12,0,0,0,0,0,1
764,2019-08-17,Leganés,1.0,1.0,0.54,0.60,0.56,Osasuna,NaN,NaN,...,NaN,0.0,13,19,0,2,0,1,0,0
765,2019-08-17,Villarreal,1.4,1.5,0.59,0.60,0.55,Granada,NaN,NaN,...,NaN,0.5,14,20,0,0,0,8,1,0
1142,2020-09-12,Cádiz,NaN,NaN,NaN,NaN,NaN,Osasuna,1.1,1.3,...,0.58,0.0,0,10,0,0,0,0,0,1
1156,2020-09-26,Elche,NaN,NaN,NaN,NaN,NaN,Real Sociedad,0.8,0.9,...,0.62,0.0,13,15,0,0,0,0,1,4
1906,2022-08-14,Almería,NaN,NaN,NaN,NaN,NaN,Real Madrid,2.0,1.0,...,0.60,0.0,0,1,0,0,0,0,0,2

In [88]:
result_df.to_csv("../coding-csv/in_game_match_data.csv")